{
  "extends": [
    "airbnb",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
  ],
  "rules": {
    "no-console": "off",
    "linebreak-style": 0,
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn",
    "semi": "off",
    "react/jsx-props-no-spreading": "warn",
    "react/destructuring-assignment": "warn"
  },
  "plugins": ["testing-library", "jest-dom", "jsx-a11y"],
  "ignorePatterns": ["node_modules/", "/out", ".next/"]
}
