{
  "extends": [
    "airbnb",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "rules": {
    "no-console": "off",
    "linebreak-style": 0,
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn",
    "semi": "off"
  },
  "plugins": ["testing-library", "jest-dom"]
}
