version: '3.8'

services:
  db:
    image: postgres:13-alpine
    tty: true
    environment:
      POSTGRES_USER: testUser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev_db
    volumes:
      - dbdata:/var/lib/postgresql/data:Z
    ports:
      - 5400:5432

  backend:
    build:
      context: ./backend
    command: ./wait-for db:5432 -- npm run dev
    tty: true
    environment:
      PORT: 5000
      DB_HOST: db
      DB_USER: testUser
      DB_PASS: password
    volumes:
      - ./backend/src/:/home/node/app/src/:Z
    ports:
      - 5000:5000
    depends_on:
      - db
      
  frontend:
    build:
      context: ./frontend
    tty: true
    environment:
      API_URL: http://localhost:5000/api
      NODE_ENV: development
    volumes:
      - ./frontend/src/:/usr/src/app/src/:Z
    ports:
      - 3000:3000

volumes:
  dbdata:
