{
  "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "ignorePatterns": ["./migrations/*"],
  "rules": {
    "no-console": "off",
    "camelcase": 0,
    "linebreak-style": 0,
    "node/no-unsupported-features/es-syntax": ["error", {
      "version": ">=9.0.0",
      "ignores": []
  }],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-unused-vars": "warn",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off"
  }
}